
/*version movil*/

.banner{
    box-sizing: border-box;
    color:#ffffff;
    width: 100vw;
    height: 30vh;
    min-height: 200px;
    background: url('../imagenes/img-header/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin-top: 72px;
    gap: 0.5rem;



}
    .banner-titulo{
        font-size: 1.5em;
        font-weight: 600;
    }
    .banner-destacado{
        font-weight: 400;
        font-size: .8em;
        
    }
    .btnconsola{
        width: 30%;
        max-width: 100px;
        
        
        
        
        
        
        
        
    }

    /*

    @media screen and (max-width:380px){
        .descripcion-banner{
            height: 25vh;
            box-sizing: border-box;


        }
            .descripcion-banner h1{
                font-size: 2rem;
            }
            .descripcion-banner h2{
                font-size: 1.1rem;
                margin:1rem 0;
                padding:0.5rem 0;
               
            }
            .btnconsola{
                width: 50%;
                height: auto;
                padding:0.2rem 0;

            }

          


    }
    */
