.todos__productos{
    width: 100vw;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    padding:34px;
    box-sizing: border-box;
    
    
}

    .starwars, .consolas, .diversos{
        
        padding:2rem;
        
        box-sizing: content-box;
    }


    .titulo{
        
        display: flex;
        justify-content: space-between;
        margin:2rem;
        box-sizing: border-box;
    }
        .titulo h2{
            width: 50%;
            box-sizing: border-box;
        }

        
        .titulo a{
            color:blue;
            padding-right: 1rem;
            text-decoration: none;
        }
        .flecha{
            height: 19px;
        }
    
    .productos{
        display:flex;
        flex-wrap: wrap;
        justify-content:space-around;
        box-sizing: border-box;
        
    }
        .producto{
            width: 15%;
            height: 330px;
            margin:10px;
            box-sizing: border-box;
        }
            .prodImagen{
                width: 100%;
                height: 174px;;
                box-sizing: border-box;
            }
            .nomprod{
                height: 20px;
                font-size: 1em;
                padding-bottom:10px;
                box-sizing: border-box;
            }
            

            .producto a{
                color:blue;
                text-decoration: none;
            }


@media screen and (max-width:768px) {
    .todos__productos{
        padding:20px;
    }
    .titulo{
        width: 70vw;
        margin: 1rem;
    }
    .prodoculto{
        display: none;
    }
    .producto{
        width: 20%;
    }
    
}

@media screen and (max-width:380px) {
    .todos__productos{
        padding:5px;
    }
    .starwars, .consolas,.diversos{
        padding:0.8rem;
    }
    .prodoculto{
        display: none;
    }
    .productos{
        width: 100vw;
        box-sizing: border-box;
        

    }
    .producto{
        width: 40%;
    }
    
}
        
