.contacto{
    width: 100vw;
    display: flex;
    height: 350px;
    padding:64px;
    
    background: #eaf2fd;
    box-sizing: border-box;
}


.movilcontacto{
    display: flex;
    width: 50vw;
    box-sizing: border-box;
}
    .logoempresa{
        width: 50%;
        box-sizing: border-box;
    }

    .links{
        width: 30%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

    }

    .links a{
        
        color: #464646;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        padding: 0.78rem;
        
    }

    .form{
        width: 90vw;
        
        flex-direction: column;
        box-sizing: border-box;
    }
        .form h3{
            color: #464646;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            margin: 0.6rem 0;

        }
        .form h2{
            padding:1.30rem;
        }
        
        .desc{
            width: 100%;
            height: 82px;
            border:transparent;
            font-family: 'Raleway';
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            align-items: center;
            color:#a2a2a2;
            margin-bottom: 1rem;
            padding-left: .8rem;
            padding-top: 1rem;
            box-sizing: border-box;
        }

        .enviar{
            background: #2a7ae4;
            color:#eaf2fd;
            width: 30%;
            padding:1rem
        }




        @media screen and (max-width:768px) {
            .contacto{
                padding:15px;
            }
            .movilcontacto{
                flex-direction: column;
            }
            .links{
                width: 70%;
            }
            .form{
                height: 70%;
            }
                .enviar{
                    width: 70%;
                }
            
        }
        
        @media screen and (max-width:380px) {
            .contacto{
                flex-direction: column;
                box-sizing: border-box;
                height: 700px;
                
            }

                .movilcontacto{
                    width: 80vw;
                    text-align: center;
                }
                    .logoempresa{
                        width: 90vw;
                        box-sizing: border-box;
                    }
                        .logo{
                            width: 50vw;
                        }
                        .links{
                            width: 90vw;
                            box-sizing: border-box;
                        }

            .form{
                width: 90vw;
                padding: 1rem;
            }

            
        }
        
