.banner{
    width: 100vw;
    min-width: 200px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 72px;
    background: url('../../imagenes/img-header/banner-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: flex-end;
    padding-left: 2rem;
    padding-bottom: 1rem;
   
    gap:5rem;



}


.descripcion-banner{
    
    color:white;
    height: 30vh;
    box-sizing: border-box;
}

    .descripcion-banner h1{
        font-size: 4rem;
    }
    .descripcion-banner h2{
        font-weight: 400;
        font-size: 1.5rem;
        height: 20%;
        padding: 1rem .2rem;
    }
    .btnconsola{
        width: 20%;
        height: 20%;
        box-sizing: border-box;
        background: #2a7ae4;
        color: white;
        padding:1rem;
        text-align: center;
        border: 1px solid #2a7ae4;
        font-size: 1.3rem;
        text-decoration: none;
        
    }

    @media screen and (max-width:380px){
        .descripcion-banner{
            height: 20vh;
            box-sizing: border-box;


        }
            .descripcion-banner h1{
                font-size: 2rem;
            }
            .descripcion-banner h2{
                font-size: 1.1rem;
            }
            .btnconsola{
                width: 50%;
                height: auto;
            }


    }
