.cabecera{
    background:#ffffff;
    display: flex;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100vw;
    z-index: 999999;
    top:0;
    box-sizing: border-box;
    
}


.header__cabecera{
        
    align-items: center;
    display: flex;
    width: 90%;
    justify-content: space-between;
    box-sizing: border-box;
    
}
    .header-logo{
        display: flex;
        width: 80%;
        
    }
        .logo{
            align-items: center;
            padding-right: 1rem;

        }
        .text-input{
            border-radius: 20px;
            border:none;
            background: #f5f5f5;
            padding:1rem 1rem;
            text-align: left;
            width: 50%;
        }
        .text-input::placeholder{
            background-image: url(lupa.png);
            background-repeat:no-repeat ;
            background-position: right center;
            border-radius: 30%;
            
        
        }
    
    .btn{
        width: 15%;
        color:blue;
        border-color: blue;
        padding:0.8rem;
    }
.cabecera-movil{
    display: none;
}


@media screen  and (max-width: 380px){
    .header__cabecera{
        display: none;
    }
    .cabecera{
        padding:0px;
    }
    .cabecera-movil{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin:1rem;
        box-sizing: border-box;
        
    }
        .logo-movil{
            display: flex;
            justify-content: space-between;
        }
        .logo, .btn{
            width: 30%;
        }
        .lupa-movil{
            width: 20%;
            border:none;
            border-radius: 30px;
            background:none;

        }

        
        .text-input{
            width: 90%;
            margin:10px;
        }
        
    .buscador{
        display: none;
    }  
            


} ;
